<h2><%= artwork.name %></h2>
<div class="colums">
  <div class="column is-half">
    <img src="<%= artwork.source %>" alt="<%= artwork.artName %>">
  </div>
  <div class="column is-one-quarter">
    <ul>
      <li>Name <%= artwork.artName %></li>
      <li>Cost £<%= artwork.cost %></li>
      <li><a href='/users/<%= artwork.creator._id %>'>Artist <%= artwork.creator.username %></a></li>
      <li>Client <%= artwork.client %></li>
    </ul>
    <% if((locals.isLoggedIn)){%>
      <% if((locals.user.username === artwork.creator.username)){%>
        <a href="/artworks/<%= artwork.id %>/edit">Edit</a>
        <form action="/artworks/<%= artwork.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="button">Delete</button>
        </form>
      <% } %>
    <% } %>
  </div>
</div>
