<h2><%= artwork.name %></h2>
<div class="columns is-multiline">
  <div class="column is-half">
    <img id="<%= artwork._id %>" class="modalImage" src="<%= artwork.source %>" alt=" <%= artwork.artName %> ">
  </div>
  <div  class="modal <%= artwork._id %>">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img class="screensizeimage" src='<%= artwork.source %>' alt='<%= artwork.artName %>' />
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="column is-one-quarter">
    <ul class="">

      <li>Name - <span class="artInfo"><%= artwork.artName %></span></li>
      <li>Cost - £<span class="artInfo"><%= artwork.cost %></span></li>
      <li>Artist - <span class="artInfo"><a href='/users/<%= artwork.creator._id %>'><%= artwork.creator.username %></a></span></li>
      <li>Client - <span class="artInfo"><%= artwork.client %></span></li>
    </ul>
    <% if((locals.isLoggedIn)){%>
      <% if((locals.currentUser.username === artwork.creator.username)){%>
        <a href="/artworks/<%= artwork.id %>/edit">Edit</a>
        <form action="/artworks/<%= artwork.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="button">Delete</button>
        </form>
      <% } %>
      <form class="" action="/artworks/<%= artwork.id%>/rate" method="post">
  <div><%= artwork.rating %></div>
  <button name="button">Star</button>
</form>
    <% } %>
  </div>
</div>
