<div class="column columnMargin">
  <% users.forEach((user) => { %>
    <% if (user.prefStyles.length > 0){ %>
      <a href='/users/<%= user._id %>'>
      <div class="userCard">
        <% if (user.displayPic){%>
          <img class="displayPic" src="<%= user.displayPic %>" alt="<$= user.username %>">
        <%} else {%>
          <img class="displayPic "src="http://www.colonialkc.org/wp-content/uploads/2015/07/placeholder_square.jpg" alt="Default profile pic">
        <% } %>
        <h1>
            <%= user.username %>
        </h1>
        <% if (user.avaliability) {%>
          <i class="fas fa-check-square fa-2x"></i>
        <%} else { %>
          <i class="fas fa-times-circle fa-2x"></i>
        <%}%>
        <div class='styles'>
        Preferred styles:
        <br>
        <%= user.prefStyles.join(', ') %>
        </div>
      </div>
      </a>
    <% } %>
  <% }) %>
  <% users.forEach((user) => { %>
    <% if (user.prefStyles.length === 0){ %>
      <a href='/users/<%= user._id %>'>
      <div class="userCardSmall">
        <h1>
            <%= user.username %>
        </h1>
        <p> The User has not set up an Artist profile</p>
      </div>
        </a>
    <% } %>
  <% }) %>
</div>
