<div class="column is-one-quarter">
  <h2><%= user.username %></h2>
  <img src="<%= user.displayPic %>" alt="<$= user.username %>">
  <a email="<%= user.email %>"><%= user.email %></a>
</div>
<div class="column is-half">
  <h3>Artist info</h3>
  <p><%= user.bio %></p>
  <h4><%= user.prefStyles.join(',  ') %></h4>
</div>
<h2><%= user.username%>'s artwork!</h2>

<% locals.user.artworks.forEach( artwork =>{ %>
  <img class="<%= artwork._id%>" src="<%= artwork.source %>" alt="<%= artwork.artName %>">
  <div class="<%= artwork._id%> modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img src='<%= artwork.source %>' alt='<%= artwork.artName %>' />
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
<% }) %>
