<div class="column is-multiline">
  <div class="column is-one-quarter">
    <h2><%= user.username %></h2>
    <img src="<%= user.displayPic %>" alt="<$= user.username %>">
    <a email="<%= user.email %>"><%= user.email %></a>
  </div>
  <div class="column is-half">
    <h3>Artist info</h3>
    <div><%- user.bio %></div>
    <h4><%= user.prefStyles.join(',  ') %></h4>
  </div>
</div>
<h2><%= user.username%>'s artwork!</h2>
<div class="columns is-multiline">
<% locals.user.artworks.forEach( artwork =>{ %>
  <div class="indexcolumn column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
    <img id="<%= artwork._id %>" class="modalImage smallImage" src="<%= artwork.source %>" alt=" <%= artwork.artName %> ">
  </div>
  <div  class="modal <%= artwork._id %>">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <img class="screensizeimage" src='<%= artwork.source %>' alt='<%= artwork.artName %>' />
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
<% }) %>
</div>
